!!!
%html
  %head
    %title Moving Average Cross-Over Backtester
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.svg'
    = javascript_include_tag 'jquery.svgdom.min'
    = csrf_meta_tags
  %body{:class => controller_name}
    = yield
